{{#with data}}
  <div class='header_top'>
    <div class='header_logo'>{{brandName}}</div>
    <div class='header_links'>
      {{#each links}}
        <a class='header_link' href='{{url}}'>{{text}}</a>
      {{/each}}
    </div>
  </div>
  <div class='header_bottom'>
    <div class='header_adw'>
      <span class='header_adw_img'>Ad</span>
      <a
        class='header_ad_text'
        href='{{ad.url}}'
      >{{ad.text}}</a>
    </div>
    <div class='header_users'>Users online:
      {{userOnline}}</div>
  </div>
{{/with}}